body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url(https://i.pinimg.com/originals/bf/82/f6/bf82f6956a32819af48c2572243e8286.jpg);
  background-size: 200vh;
  background-position: center;
  background-repeat: no-repeat;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.container {
  text-align: center;
  height: 100vh;
}

.page-title {
  color: #123;
  margin: 0 0 5px;
}

label {
  color: white;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
}

h4 {
  color: #000000;
  font-size: 40px;
}

.resultado {
    margin-top: 20px;
  width: 300px;
  height: 200px;
  background-color: white;
}

#valor2 {

}

label {

    color:#000000;
    font-family: Arial;
    font-weight: bold;
    margin-top:  10px;
    margin-bottom: 10px;

}